@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans:wght@300&display=swap");
.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.edit-input, .input-search input, .locked-input, .form-input {
  width: 100%;
  padding: 8px;
  margin: 12px 0;
  border: transparent;
  outline: transparent;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Mulish", sans-serif;
}

hr {
  border-top: 1px solid #d3d3d3;
}

select {
  font-family: "Open Sans", sans-serif;
}

input[type=text],
input[type=password],
input[type=email] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  border-radius: 0;
}

button:not(.menu-btn),
.edit-addPhoto {
  position: relative;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  transition: all 0.2s linear 0s;
  margin: auto;
}
button:not(.menu-btn):before,
.edit-addPhoto:before {
  content: ">";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  transition: all 0.2s linear 0s;
}
button:not(.menu-btn):hover,
.edit-addPhoto:hover {
  text-indent: -14px;
}
button:not(.menu-btn):hover:before,
.edit-addPhoto:hover:before {
  opacity: 1;
  text-indent: 0px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.form-container div {
  transform: scale(0.95);
}

.form-container .navbar-logo {
  margin: auto;
  padding-bottom: 12px;
}

.form-label {
  display: block;
  color: #fff;
}

.form-input {
  width: 300px;
}

.form-button.btn-secondary {
  width: 100%;
  margin-top: 24px;
  font-size: 18px;
}

.form-login {
  margin: 8px 0px 12px;
  text-decoration: underline;
  display: block;
  text-align: center;
}

.input-error {
  border-bottom: 1px solid #e74c3c;
}

.form-element {
  position: relative;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.form-element small {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-element small.show-error {
  visibility: visible;
  color: #e74c3c;
}

.login-error {
  display: none;
  font-size: 14px;
  text-align: center;
  color: #e74c3c;
}

.edit-btn.btn-disabled {
  pointer-events: none;
  background-color: #a9a9a9;
  box-shadow: 0 0 8px #a9a9a9;
}

.btn-primary {
  cursor: pointer;
  padding: 18px 24px;
  color: #fff;
  background-color: #32938b;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  margin: 0 20px 20px 0;
  box-shadow: 0 0 8px #32938b;
  letter-spacing: 1px;
  width: 190px;
}

.btn-secondary {
  cursor: pointer;
  padding: 18px 24px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  font-size: 14px;
  margin: 0 20px 20px 0;
  box-shadow: 0 0 8px #d3d3d3;
  letter-spacing: 1px;
  width: 280px;
}

.btn-inventory {
  width: 140px;
  font-family: "Mulish", sans-serif;
  color: #e09d36;
  border: 1px solid #e09d36;
  box-shadow: 0 0 8px #e09d36;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0px auto;
}

.bg-signup::before {
  content: "";
  background: url("/public/img/bg_signup.jpg") center/cover no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(30%);
}

.bg-home::before {
  content: "";
  background: url("/public/img/bg.jpg") center/cover no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  height: 90%;
}

.bg-about::before {
  content: "";
  background: url("/public/img/bg_about.jpg") center/cover no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(30%);
  height: 90%;
}

.bg-clones::before {
  content: "";
  background: url("/public/img/bg_clones.jpeg") center/cover no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(35%);
}

.bg-premiums::before {
  content: "";
  background: url("/public/img/bg_premiums.jpg") center/cover no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}

.bg-seeds::before {
  content: "";
  background: url("/public/img/bg_seeds.jpeg") center/cover no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}

.bg-coming::before {
  content: "";
  background: url("/public/img/bg_coming.jpg") center/cover no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(30%);
}

.bg-product::before {
  content: "";
  background: url("/public/img/bg_product.jpg") center/cover no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(30%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bg-inventory::before {
  content: "";
  background: url("/public/img/bg_inventory.jpg") center/cover no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bg-admin::before {
  content: "";
  background: url("/public/img/bg_admin.jpg") center/cover no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal-bg {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 100;
  transition: all 0.5s;
}

.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  background-color: #eee;
  border-radius: 12px;
}

.modal-content {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 58px 0px;
}

.modal-title {
  padding: 24px 0px 12px;
}

.modal-label {
  display: inline-block;
  font-size: 14px;
  padding: 6px 12px;
}
.modal-label label {
  position: relative;
  bottom: 3px;
}
.modal-label input {
  width: 16px;
  height: 16px;
}

.scroll-top.modal-close {
  transform: scale(1);
  box-shadow: none;
  background-color: #e2e2e2;
  color: #000;
  right: 0;
  top: 0;
  transition: all 0.5s;
}

.scroll-top.modal-close:hover {
  background-color: #d3d3d3;
}

.clear-btn,
.filter-btn {
  display: inline-block;
  width: 48%;
  box-shadow: none;
  margin: 0;
}

.clear-btn {
  border: 1px solid #000;
  color: #000;
}

.bg-locked {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.locked-form {
  max-width: 300px;
  width: 90%;
  margin: 36px auto 0;
  text-align: center;
}
.locked-form button {
  width: 100%;
  margin: 48px 0 0 0;
  font-size: 16px;
}

.locked-inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.locked-icon {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 14px;
  margin-right: 8px;
  box-shadow: 0 0 8px #d3d3d3;
}

.locked-error {
  display: none;
  width: 100%;
  color: #ff4137;
  text-align: left;
  padding: 12px 0 0 12px;
  margin: auto;
}
.locked-error small {
  position: relative;
  bottom: 2px;
  margin-left: 2px;
}

.header {
  display: flex;
  flex-direction: column;
}

.header-container {
  position: relative;
  display: flex;
  color: #fff;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.navbar {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 48px;
}

.navbar-user {
  position: absolute;
  right: 0;
  top: 0;
  color: #a9a9a9;
}

.navbar-user-greeting {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 32px 14px;
}
.navbar-user-greeting small {
  cursor: pointer;
  text-decoration: underline;
  padding-left: 8px;
}

.mobile-menu {
  display: none;
}

.navbar-menu {
  text-align: center;
}

.navbar-logo {
  width: 100px;
}
.navbar-logo a {
  display: block;
}
.navbar-logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar-link h4 {
  display: inline-block;
  font-size: 14px;
  padding: 0 14px;
  transition: all 0.2s;
}

.active {
  color: #32938b;
}

.navbar-link:hover {
  color: #32938b;
}

.hero-title {
  font-size: 62px;
  letter-spacing: 1px;
}
.hero-title span {
  color: #32938b;
}

.hero-desc {
  padding: 32px 0 62px;
  line-height: 26px;
  width: 80%;
  margin: auto;
  text-align: left;
}

.main-section {
  position: relative;
  text-align: center;
  padding-top: 54px;
}

.main-title {
  font-size: 22px;
}

.main-desc {
  padding: 24px 0 36px;
}

.swiper-container .swiper-wrapper {
  height: 180px;
}

.swiper-main {
  position: relative;
}

.swiper-main .swiper-button-next,
.swiper-main .swiper-button-prev {
  color: #d3d3d3;
}

.swiper-main .swiper-pagination-bullet {
  background-color: #d3d3d3;
}

.slide-container {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide-container img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  transition: 0.5s all;
}

.slide-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(100%);
  transition: 0.5s all;
}

.slide-container:hover .slide-info {
  transform: translateY(0);
}

.slide-container:hover img {
  opacity: 0.8;
}

.main-grid {
  display: grid;
  gap: 12px;
}
.main-grid img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1;
}

.products {
  padding: 36px 0px;
}

.products-top {
  display: flex;
  align-items: center;
  padding-bottom: 18px;
}

.products-nav h4 {
  color: #a9a9a9;
  padding-right: 8px;
  display: inline-block;
}
.products-nav .products-title {
  color: #000;
}

.products-container {
  padding-top: 32px;
}

.products-result {
  color: #a9a9a9;
  font-size: 14px;
  position: relative;
  top: 1px;
}

.products-filter {
  display: flex;
  align-items: center;
  padding-top: 32px;
}

.filter-clear {
  display: inline-block;
  margin: 4px;
  padding: 4px 8px;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.filter-icon {
  font-size: 14px;
  display: inline-block;
  background-color: #a9a9a9;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 4px;
  cursor: pointer;
}

.filter-selected {
  background-color: #32938b;
}

.filter-container {
  padding: 4px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  border-bottom: 1px solid #d3d3d3;
  background-color: transparent;
  margin-bottom: 16px;
}

.product {
  display: flex;
  width: 100%;
  justify-content: center;
}

.product-img {
  width: 40%;
  margin: auto;
}
.product-img img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1;
}

.product-info {
  width: 60%;
  padding-left: 36px;
  color: #fff;
}

.product-title {
  padding-top: 18px;
}

.product-price {
  padding-top: 12px;
  color: #32938b;
}

.detail-container {
  display: flex;
  justify-content: space-between;
}

.product-detail {
  padding-bottom: 18px;
}
.product-detail h3 {
  font-size: 18px;
  color: #32938b;
}
.product-detail p {
  font-size: 14px;
  padding-left: 8px;
  padding-top: 4px;
}

.product-back {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 24px;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: #d3d3d3 0px 0px 10px;
}

.item img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}

.item img:hover {
  opacity: 0.8;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  padding: 12px;
}

.inventory-title,
.inventory-time {
  width: 80%;
  margin: auto;
}

.inventory-title {
  font-size: 48px;
  color: #fff;
  padding: 78px 0 36px;
  text-align: center;
}

.inventory-time {
  color: #fff;
}
.inventory-time span {
  color: #32938b;
}

.inventory-table {
  color: #fff;
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  margin: 48px auto 0;
}
.inventory-table td,
.inventory-table th {
  border: 1px solid #a9a9a9;
  text-align: center;
  padding: 8px;
}
.inventory-table td {
  font-size: 14px;
}

.admin {
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.admin-alert {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 14px;
  background-color: #175859;
  box-shadow: #175859 0px 0px 10px;
  padding: 12px 0;
}
.admin-alert span {
  padding-left: 8px;
}

.input-search {
  padding-top: 58px;
  text-align: center;
  width: 80%;
  max-width: 300px;
  margin: auto;
}
.input-search input {
  font-size: 14px;
}

.admin-products {
  padding-top: 48px;
}

.admin-add {
  text-align: center;
  margin-top: 24px;
}
.admin-add button {
  margin: 0;
  width: 190px;
}

.edit {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.edit-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  max-width: 240px;
}
.edit-img button {
  width: 100%;
  margin: 24px 0 0 0;
}
.edit-img img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.edit-info {
  width: 65%;
}
.edit-info label {
  font-size: 14px;
}

.edit-inputContainer {
  display: flex;
  flex-direction: column;
}

.edit-input {
  display: block;
  width: 80%;
  position: relative;
  bottom: 12px;
}

.edit-btn {
  display: inline-block;
  width: 60%;
  margin: 28px 0 0 0;
  text-align: center;
}

.edit-addPhoto {
  margin: 24px 0 0 0;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.footer {
  cursor: default;
  position: relative;
  text-align: center;
  padding: 54px 0 24px;
  color: #000;
}

.footer-sns {
  padding-bottom: 4px;
}
.footer-sns a {
  cursor: pointer;
  margin: 8px;
  color: #000;
}

.page-move {
  text-align: right;
}
.page-move small {
  cursor: pointer;
  display: inline-block;
  padding: 18px;
  color: #000;
}

.loading {
  display: block;
  padding-top: 72px;
  width: 54px;
  margin: auto;
}

.scroll-top {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #32938b;
  color: #fff;
  margin: 24px;
  box-shadow: 0 0 4px #32938b;
  cursor: pointer;
  transform: scale(1.2);
  z-index: 100;
  transition: all 0.5s;
}

.scroll-top:hover {
  background-color: #175859;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding-top: 20;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  padding: 24px;
}

.card:nth-child(2n) {
  background-color: #d3d3d3;
}

.card-icon {
  font-size: 24px;
}

.card-title {
  margin-bottom: 12px;
}

.card-desc {
  font-size: 12px;
}

.w-100 {
  width: 100%;
}

.block {
  display: block;
}

.none {
  display: none;
}

.fade-in {
  opacity: 1;
}

/* CSS for Contact Form */
#contact-form {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

#contact-form input[type=text],
#contact-form input[type=email],
#contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

#contact-form textarea {
  resize: vertical;
}

#contact-form button[type=submit] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #32938b;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#contact-form button[type=submit]:hover {
  background-color: #175859;
}

#contact-form input[type=text]:focus,
#contact-form input[type=email]:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #32938b;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding-top: 38px;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-logo {
    width: 80px;
    padding-top: 12px;
  }
  .mobile-menu {
    position: absolute;
    top: 75%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 8px;
    font-size: 11px;
    overflow: hidden;
    z-index: 1000;
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.7);
    background-color: #175859;
    padding: 36px 0px;
    border-radius: 2px;
    transform: translateX(-105%);
    transition: all 0.5s;
  }
  .menu-container.show-menu {
    transform: translateX(0);
  }
  .menu-container a:hover {
    background-color: #fff;
    color: #175859;
  }
  .menu-link {
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    font-size: 15px;
  }
  .menu-link h4 {
    position: relative;
    bottom: 2px;
    display: inline-block;
    font-size: 11px;
    padding-left: 6px;
  }
  .menu-btn {
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    padding: 4px;
    font-size: 14px;
  }
  .menu-btn span {
    position: relative;
    bottom: 1.5px;
    pointer-events: none;
  }
  .navbar-link:not(:first-child) {
    padding-left: 10px;
  }
  .navbar-link h4 {
    font-size: 10px;
    padding: 0px;
  }
  .navbar-user-greeting {
    padding: 18px 0px;
  }
  .hero-title {
    font-size: 50px;
    padding-top: 12px;
  }
  .hero-desc {
    font-size: 14px;
    padding: 32px 0 72px;
    text-align: left;
  }
  .products-container.grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  .products-filter {
    flex-direction: column;
    align-items: flex-end;
  }
  .filter-container {
    color: #000 !important;
  }
  .product {
    flex-direction: column;
  }
  .product-container {
    transform: scale(0.9);
  }
  .product-img {
    position: relative;
    width: 80%;
    max-width: 240px;
  }
  .product-info {
    width: 100%;
    padding-top: 24px;
    padding-left: 0;
    color: #fff;
  }
  .product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
  }
  .product-title,
  .product-price {
    padding: 0;
  }
  .product-title {
    font-size: 20px;
  }
  .product-price {
    font-size: 16px;
  }
  .product-detail {
    padding-bottom: 14px;
  }
  .product-detail h3 {
    font-size: 14px;
  }
  .product-detail p {
    font-size: 12px;
    padding-left: 8px;
    padding-top: 4px;
  }
  .product-btn {
    text-align: center;
  }
  .product-nav {
    font-size: 14px;
  }
  .inventory-title {
    font-size: 34px;
    padding: 78px 0 28px;
  }
  .inventory-time {
    text-align: center;
    line-height: 24px;
    font-size: 12px;
  }
  .inventory-time span {
    display: block;
    font-size: 14px;
  }
  .btn-inventory {
    width: 110px;
    margin-left: 8px;
    padding: 8px;
    font-size: 10px;
  }
  .input-search {
    padding-top: 36px;
  }
  .admin-products .grid-5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
  .card {
    width: 100%;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 16px;
  }
  .card-icon {
    font-size: 24px;
  }
  .card-desc {
    font-size: 12px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-desc {
    font-size: 12px;
    line-height: 20px;
    padding: 32px 0px 52px;
  }
  .grid-2,
  .grid-3 {
    gap: 4px;
  }
  .admin-products .grid-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  .grid-seed {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
  .edit {
    flex-direction: column;
    margin-top: 18px;
  }
  .edit-info {
    width: 90%;
  }
  .edit-img {
    width: 90%;
    max-width: 500px;
    flex-direction: row;
    margin-bottom: 18px;
    justify-content: center;
  }
  .edit-img img {
    width: 30%;
  }
  .edit-addPhoto {
    max-width: 180px;
    padding: 12px 26px;
    margin-left: 24px;
  }
  .admin,
  .input-search {
    width: 100%;
  }
}/*# sourceMappingURL=App.css.map */